html {
  margin: 0px;
  padding: 0px;
}
:root {
  --babyblue: #89cff0;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--babyblue);
  height: 100px;
}
footer {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
